.texto {
   text-align: center;
   font-size: 25px;
   padding-top:25px;
   padding-bottom: 25px;
 }

 main {
   width: auto;
   margin: 0 auto;
 }

 form {
   margin: 40px 10px;
 }

form label {
   display: block;
   font-size: 20px;
   margin: 0 0 10px;
}

form input {
   display: block;
   margin: 0 0 20px;
   padding: 10px 25px;
   width: 40%;
}
